@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 6px 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.7;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  outline: 2px solid var(--primary);
}

input.error,
input.error {
  border: 1px solid var(--error);
}

label, input {
  display: block;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.pages{
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  transition: 0.2s all;
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.workout-details .buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.workout-details .buttons span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #333;
  margin: 4px 0;
  border-radius: 4px;
  transition: 0.2s all;
  cursor: pointer;
}

.workout-details .buttons .update:hover {
  background: var(--primary);
  color: #f1f1f1;
}

.workout-details .buttons .delete:hover {
  background: var(--error);
  color: #f1f1f1;
}

.workout-details .date {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #888;
  font-size: 0.8rem;
  text-align: right;
}

.workout-details.editing {
  background: #f1ebb1;
}

/* new/edit workout forms */
.workout-form input,
.workout-edit-form input {
  margin-bottom: 20px;
}

.workout-form button {
  width: 100%;
  max-width: 160px;
}

.workout-edit-form button {
  width: 50%;
  max-width: 160px;
}

.workout-edit-form button:first-of-type {
  margin-right: 10px;
  width: calc(50% - 10px);
}

.workout-edit-form button.cancel {
  background: #888;
}

/* navbar */
.navbar nav {
  display: flex;
  align-items: center;
}

.navbar nav a {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: 0.2s all;
}

.navbar nav a:hover {
  background: var(--primary);
  color: #f1f1f1;
}

.navbar nav span {
  color: #888;
  font-size: 0.8em;
  margin-right: 10px;
}

/* login and register auth forms */
form.login,
form.register {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.login input,
form.register input {
  margin-bottom: 20px;
}

form.login a {
  display: block;
  font-size: 0.8em;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .home {
    grid-template-columns: 1fr;
  }

  .workout-form,
  .workout-edit-form {
    order: -1;
  }
}
